<div class="row clearfix">
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[0], :style => :high } %>
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[1], :style => :high } %>
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[2], :style => :wide } %>
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[3], :style => :small } %>
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[4], :style => :small } %>
</div>