<div class="container clearfix">

  <%= render 'users/shared/profile_vcard' %>

  <%= render 'users/shared/tabs' %>

  <% unless @users.blank? %>

    <div class="ui divided list">
      <% @users.each do |user| %>
      <div class="item">

        <div class="ui grid">

          <div class="five wide column">
            <%= render 'users/shared/vcard', :user => user %>
          </div>

          <div class="eleven wide column">
            <% user.photos.first(6).each do |photo| %>
            <div class="artwork xsmall">
              <%= link_to image_tag("grey.gif", :alt => photo.name, "data-original" => photo.small), photo, :class => "preview" %>
            </div>
            <% end -%>
          </div>

        </div>


      </div>
      <% end -%>
    </div>

    <%= paginate @users %>

  <% else %>

    <%= content_tag :span, "还没有人关注你", :class => "ui red label" if action_name == "followers" %>

    <%= content_tag :span, "你还没有关注任何用户", :class => "ui red label" if action_name == "followed" %>

  <% end -%>

</div>