<div class="container">

  <%= render "tabs" %>

  <div class="ui basic segment">
    <%= simple_form_for(current_user, :url => password_account_path, :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <%#= f.input :reset_password_token, :as => :hidden %>
      <%#= f.full_error :reset_password_token %>

      <div class="ui two column stackable grid">
        <div class="column">
          <div class="ui fluid form segment">
            <h3 class="ui header">基本资料</h3>
            <%= f.input :password_old, :required => true %>
            <%= f.input :password, :required => true, :label => "新密码" %>
          </div>
        </div>

      </div>

      <div class="ui section divider"></div>

      <div class="ui grid center aligned">
        <%= f.button :submit, "修改密码" %>
      </div>

    <% end %>
  </div>

</div>