<div class="container">

  <%= render "tabs" %>

  <div class="ui basic segment">
    <%= simple_form_for(current_user, :url => account_path, :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <div class="ui two column stackable grid">
        <div class="column">
          <div class="ui fluid form segment">
            <h3 class="ui header">基本资料</h3>
            <%= f.input :username, :required => true %>
            <%= f.input :email, :required => true %>
            <%= f.input :name %>
            <div class="field">
              <label>性别</label>
              <div class="ui selection dropdown">
                <%= f.hidden_field :gender %>
                <div class="default text">性别</div>
                <i class="dropdown icon"></i>
                <div class="menu ui transition hidden">
                  <div class="item" data-value="male"><i class="male icon"></i>男性</div>
                  <div class="item" data-value="female"><i class="female icon"></i>女性</div>
                </div>
              </div>
            </div>
            <%= f.input :city %>
            <%= f.input :bio, :as => :text, :input_html => { :class => :medium } %>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid form segment">
            <h3 class="ui header">社交信息</h3>
            <div class="field">
              <%= image_tag(current_user.avatar.url(:small), :class => "rounded ui image avatar") %>
              <%= f.file_field :avatar, :class => "avatar", :accept => "image/jpg, image/jpeg, image/gif, image/png" %>
            </div>
            <%= f.input :website %>
            <%= f.input :weibo %>
            <%= f.input :twitter %>
            <%= f.input :qq %>
          </div>
        </div>
      </div>

      <div class="ui section divider"></div>

      <div class="ui grid center aligned">
        <%= f.button :submit, "更新资料" %>
      </div>

    <% end %>
  </div>

</div>