<p>您好 <%= @resource.username %> :</p>

<p>您于<%= @resource.reset_password_sent_at.strftime("%Y-%m-%d %H:%M:%S") %>请求重置 <span style="color:red;"><b><%= Settings.app_name %></b></span> 上的登录密码，您可以通过下面的链接来重置您的密码。</p>

<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果链接无法点击，请复制下面的网址在浏览器地址栏中访问:</p>

<p><%= edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果您没有要求重置密码，请忽略此电子邮件。</p>

<p>您的密码将不会改变，直到你访问上面的链接，创建一个新的。</p>